@page
@model CinemaProject.Pages.Admin.Screens.CreateModel
@{
}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create New Screen</h2>
        </div>
        <div class="mb-3">
            <label>Capacity</label>
            <input type="number" class="form-control" value="120" disabled />
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </div>

</form> 