@page
@model CinemaProject.Pages.Admin.Screens.CreateModel
@{
}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create New Screen</h2>
        </div>
        <div class="mb-3">
            <label>Capacity</label>
            <select class="form-control" asp-for="Screen.CapId">
                <option value="">Select Capacity</option>
                @foreach (var capacity in Model.Capacities)
                {
                        <option value="@capacity.Id">@capacity.Capacity</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-page="Index" class="btn btn-secondary">Back to Index</a>    
    </div>
</form>
