@page
@model CinemaProject.Pages.Admin.Screens.IndexModel
@{
}

<h3 class="text-primary">Screens</h3>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
        </div>
        <div class="col-6">
            <a asp-page="Create" class="btn btn-primary">
                Create new Screen
            </a>
        </div>
    </div>
</div>

<br />
<br />
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Screen</th>
            <th>Capacity</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Screens)
        {
            <tr>
                <td width="25%">@obj.Id</td>
                <td width="25%">@obj.Cap</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@obj.Id">Edit</a>
                </td>
                <td>
                    <a asp-page="Delete" asp-route-id="@obj.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table> 